<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="duke"
		class="com.springinaction.springidol.concrete.performers.PoeticJuggler">
			<constructor-arg value="15" />
			<constructor-arg ref="sonnet29" />
	</bean>
	<bean id="sonnet29"
		class="com.springinaction.springidol.concrete.poems.Sonnet29">
	</bean>
	<bean id="kenny"
		class="com.springinaction.springidol.concrete.performers.Instrumentalist">
	<property name="song" value="Jingle Bells"></property>
	<property name="instrument" ref="piano"></property>
	</bean>
	<bean id="saxophone"
		class="com.springinaction.springidol.concrete.instruments.Saxophone">
	</bean>
	<bean id="piano"
		class="com.springinaction.springidol.concrete.instruments.Piano">
	</bean>
</beans>
